<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>greenBubble</string>
		<string>greenBubble</string>
		<string>orangeBubble</string>
		<string>greenBubble</string>
		<string>orangeBubble</string>
		<string>redBubble</string>
		<string>orangeBubble</string>
		<string>blueBubble</string>
		<string>orangeBubble</string>
		<string>greenBubble</string>
		<string>orangeBubble</string>
		<string>redBubble</string>
	</array>
	<array>
		<string>indestructibleBubble</string>
		<string>indestructibleBubble</string>
		<string>orangeBubble</string>
		<string>greenBubble</string>
		<string>blueBubble</string>
		<string>bombBubble</string>
		<string>blueBubble</string>
		<string>indestructibleBubble</string>
		<string>greenBubble</string>
		<string>indestructibleBubble</string>
		<string>redBubble</string>
	</array>
	<array>
		<string>greenBubble</string>
		<string>greenBubble</string>
		<string>redBubble</string>
		<string>redBubble</string>
		<string>redBubble</string>
		<string>blueBubble</string>
		<string>redBubble</string>
		<string>redBubble</string>
		<string>orangeBubble</string>
		<string>bombBubble</string>
		<string>orangeBubble</string>
		<string>orangeBubble</string>
	</array>
	<array>
		<string>indestructibleBubble</string>
		<string>indestructibleBubble</string>
		<string>orangeBubble</string>
		<string>greenBubble</string>
		<string>orangeBubble</string>
		<string>bombBubble</string>
		<string>greenBubble</string>
		<string>greenBubble</string>
		<string>orangeBubble</string>
		<string>bombBubble</string>
		<string>orangeBubble</string>
	</array>
	<array>
		<string>greenBubble</string>
		<string>greenBubble</string>
		<string>orangeBubble</string>
		<string>greenBubble</string>
		<string>orangeBubble</string>
		<string>starBubble</string>
		<string>blueBubble</string>
		<string>blueBubble</string>
		<string>blueBubble</string>
		<string>greenBubble</string>
		<string>redBubble</string>
		<string>redBubble</string>
	</array>
	<array>
		<string>indestructibleBubble</string>
		<string>indestructibleBubble</string>
		<string>redBubble</string>
		<string>redBubble</string>
		<string>redBubble</string>
		<string>lightningBubble</string>
		<string>redBubble</string>
		<string>redBubble</string>
		<string>orangeBubble</string>
		<string>orangeBubble</string>
		<string>orangeBubble</string>
	</array>
	<array>
		<string>redBubble</string>
		<string>greenBubble</string>
		<string>orangeBubble</string>
		<string>bombBubble</string>
		<string>blueBubble</string>
		<string>blueBubble</string>
		<string>blueBubble</string>
		<string>blueBubble</string>
		<string>greenBubble</string>
		<string>indestructibleBubble</string>
		<string>indestructibleBubble</string>
		<string>indestructibleBubble</string>
	</array>
	<array>
		<string>redBubble</string>
		<string>indestructibleBubble</string>
		<string>orangeBubble</string>
		<string>blueBubble</string>
		<string>blueBubble</string>
		<string>bombBubble</string>
		<string>orangeBubble</string>
		<string>greenBubble</string>
		<string>redBubble</string>
		<string>starBubble</string>
		<string>greenBubble</string>
	</array>
	<array>
		<string>greenBubble</string>
		<string>bombBubble</string>
		<string>redBubble</string>
		<string>bombBubble</string>
		<string>redBubble</string>
		<string>redBubble</string>
		<string>orangeBubble</string>
		<string>orangeBubble</string>
		<string>redBubble</string>
		<string>blueBubble</string>
		<string>greenBubble</string>
		<string>blueBubble</string>
	</array>
</array>
</plist>
